.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    font-size: 2.5em;
    padding: 2em;
    overflow-x: auto;
    background-image: url("../../assets/free-coding-img.jpg");
    background-size: cover;
    background-color: transparent;
    resize: both;

    @media (min-width: 280px) {
        font-size: 0.8em;
    }

    @media (min-width: 768px) { 
        height: 90vh;
        font-size: 0.8em;
    }

    @media (min-width: 992px) { 
        height: 80vh;
        font-size: 1em;
    }

    @media (min-width: 1200px) {
        height: 70vh;
        font-size: 1.5em;
    }

  


    .description {
        min-height: 5vh;
        color: beige;
        background-color: blueviolet;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid beige;
        border-radius: 1em;
        font-weight: bold;
        padding: 1em;
    }
}