.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: violet;
    min-height: 2vh;
    font-size: 1em;
    padding: 1em;
    color: beige;
    min-width: max-content;

    @media (min-width: 280px) {
        font-size: 0.8em;
    }
}
